p {
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
  }

  h1 {
    text-align: center;
}
  
  h2 {
    font-family: 'Montserrat', sans-serif;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
  }
  
  ul li {
    font-family: 'Montserrat', sans-serif;
  }
  
  button {
    font-family: 'Montserrat', sans-serif;
  }
  
  div {
    font-family: 'Montserrat', sans-serif;
  }
  
  button {
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    border-width: 2px;
    border-radius: 5px;
  }
  
  a:hover {
    color: white;
  }