.servicios-container {
    display: inline-block;
}

.services-section {
    width: 100%;
}

.service-title {
    margin-left: 40px;
}

.services-list {
    list-style: none;
    margin: 3% 10% 3% 10%;
    font-size: large;
    text-align: center;
}

.service-item {
    margin-bottom: 20px;
    line-height: 40px;
}

.service-article {
    display: flex;
    flex-direction: column;
    background-color: $yellow;
    color: $black;
    font-size: large;
    margin-bottom: 10px;
}

.service-item {
    margin: 30px 20px 20px 30px;
    padding: 0px 200px 0px 50px;
}

.service-details {
    display: flex;
    align-items: center;
}

.service-description {
    margin-left: 70px;
}