$black: black;
$white: white;
$yellow: #f1e2cc;
$lightgreen: #D5DED9;
$grey: #ddd;
$grey2: #cdcdcd;
$beige: #948C75;
$darkgreen: #99B2B7;

$font-montserrat: 'Montserrat', sans-serif;
$font-playfair: 'Playfair Display', serif;
